@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin:ital,wght@0,400..700;1,400..700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Dancing+Script:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lobster&family=Raleway:ital,wght@0,100..900;1,100..900&family=Russo+One&family=Yellowtail&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body{
    /* background-color: rgb(53, 165, 53); */
    margin: 0;
    padding: 0;
    background-image: url('../images/dubai.jpg');
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
}

header{
    z-index: 999;
    position:absolute ;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 200px ;
    transition: 0.5s ease;


}

header .brand{
    color: white;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .nav{
    position: relative;
}

header .nav .nav-items a{
position:relative;
color:white;
font-size: 20px;
font-weight: 500;
text-decoration: none;
margin-left: 30px;
transition: 0.3s ease;

}

header .nav .nav-items a:before{
    content: "";
    position: absolute;
    background-color:white;
    width: 0;
    height: 3px;
    bottom: 0;
    left:0;
    transition: 0.3s ease;

}

header .nav .nav-items a:hover:before{
width: 100%;

}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust this if needed */
}

.container{
    width: 650px;
    height: 300px;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 10px;
    background:rgba(235, 176, 186, 0.5);
    box-shadow: 0 2px 2px rgba(0,0, 0, 0,5);
}

.main .title{
    font-size: 90px;
    text-transform: uppercase;
    line-height: 1;
    text-shadow: 1rem;
    padding: 1rem 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-family: 'Raleway';
    align-items: center;
    justify-content: center;
    color: white;
}

.main .heading{
    font-family: 'Raleway';
    color: white;
    font-size: 2.2rem;
    padding-bottom: 1rem;
}

.country-input, .dur-input{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    width: 400px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 30px;
    margin-left: 100px;
    border: none;
    outline: none;
    
}

.sub-btn{
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    background-color: rgb(127, 127, 156);
    color: white;
    
}

.display{
    width: 600px;
    height: 200px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 40px;
    background: rgba(194, 102, 118, 0.5);
    justify-content: center;
    margin-top: 150px;
    align-items: center;
}

/*.main #budget{
    width: 500px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 9px;
    font-size: 19px;
}

.container .btn{
    width: 200px;
    height: 50px;
    border: none;
    margin-left: 190px;
    margin-top: 10px;
    outline: none;
    border-radius: 9px;
    color: white;
    background: pink;
}

.container .enter-btn{
    width: 100px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 9px;
    color: white;
    background: pink;
}


.content{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background: color #ecf0f3;
    margin-top: 100px;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff,
                      5px 12px rgba(0,0, 0, 0.16);
    display: grid;
    grid-template-columns: repeat(4,68px);


}

input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color:#ecf0f3 ;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset 5px 5px 12px rgba(0,0, 0, 0.16);
    border: none;
    outline: none;
    border-radius: 30px;
    color: gray;    
    font-size: 55px;
    text-align: end;
    margin: auto;
     margin-top: 40px;
     margin-bottom:30px ;   
     padding:20px; 
}

.calcBtn{
    height: 48px;
    border: none;
    width: 48px;
    background-color: #ecf0f3;
    box-shadow: 5px 5px 12px rgba(0,0, 0, 0.16);
    border-radius: 50%;
    margin: 6px;
    font-size: 15px;


}

.equal{
    width: 90px;
    border-radius: 30px;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset 5px 5px 12px rgba(0,0, 0, 0.16);

}

.alert {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: bold;
    max-width: 300px;
}

.greater {
    background-color: #4CAF50;
    color: white;
}

.less {
    background-color: #f44336;
    color: white;
}

.equal {
    background-color: #2196F3;
    color: white;
}*/



/*Responsiveness*/
@media (max-width:1200px){
    section{
        padding: 3rem 5%;
    }
}

@media (max-width:991px){
    section{
        padding: 3rem 2rem;
    }

    .home .swiper-slide .content h3{
        font-size: 10vw;
    }
}

@media(max-width:768px){
    header .nav{
        position: absolute;
        top: 99%; left: 0; right: 0;
        padding: 2rem;
    }
}

@media(max-width:450px){
html{
    font-size: 50%;
}
}