#entire{
    background-color: rgba(61, 133, 146, 0.904);
    width: 100%;
    height: auto;
}

#logo{
    width: 15%;
    height: 15%;
}

#menu{
    margin-left: 1450px;
    

}

#back, #log-out{
    width: 100px;
    height: 50px;
    background-color: rgba(61, 133, 146, 0.904);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}

#title{
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 100px;
    font-family: 'Lobster';
}


#search{
    width: 600px;
    height: 60px;
    font-size: 25px;
    border: none;
    border-radius: 15px;
    justify-content: center;
    margin-left: 600px;
}

#options{
    font-size: 20px;
    display: flex;
    
}

#label{
    /*margin-right: 20px;*/
    margin-left: 100px;
    font-weight: bold;
    font-family: 'Cabin';
}

#label1{
    margin-left: 650px;
    font-weight: bold;
    font-family: 'Cabin';  
}

#package-title{
    font-size: 80px;
    color: white;
    font-family: 'Lobster';
    margin-top: 50px;
}

hr {
    border: none;
    border-top: 10px solid black; /* Change color and width as needed */
    margin: 40px 0; /* Add space above and below the line */
}

#packages{
    display: flex;
   
}


#couple{
    width: 450px;
    height: 350px;
}

#show-pack{
    width: 450px;
    height: 600px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3);
    padding: 20px; /* Add padding to create space around content */
    text-align: center; /* Center-align content */
    margin: 20px; /* Add margin for spacing between boxes */


}

#tourist-sites,#hotels {
    display: flex;
    flex-wrap: nowrap; /* Prevents wrapping to new lines */
    justify-content: space-around; /* Aligns items with equal space between them */
}

.tour-pack {
    width: 450px;
    height: 600px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3);
    padding: 20px; /* Add padding to create space around content */
    text-align: center; /* Center-align content */
    margin: 20px; /* Add margin for spacing between boxes */
}

#tour-title{
    font-size: 80px;
    color: white;
    font-family: 'Lobster';
    margin-top: 50px;

}
.tour-stat{
    font-size: 25px;
    color: white;
    font-family: 'EB Garamond';
    margin-top: -50px;
    /*margin-bottom: 700px;*/
}   

#pack-title{
    color: white;
    font-size: 35px;
    font-size: 'Cabin';
    font-weight: bold;
}
#pack-agent{
    color: white;
    font-size: 20px;
    font-family: 'Cabin';
}
#pack-stat{
    font-size: 20px;
    color: white;
    font-family: 'Cabin';
}

#see-more{
    width: 500px;
    height: 40px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    background-color:white ;
    border-radius: 15px;
    margin-top: 100px;
}

#bud-title{
    font-size: 80px;
    color: white;
    font-family: 'Lobster';
}



.stat{
    font-size: 25px;
    color: white;
    font-family: 'EB Garamond';
}
#ready-title{
    font-size: 80px;
    color: white;
    font-family: 'Lobster';
    margin-top: 50px;
    text-align: center;
    justify-content: center;
}

#ready-stat{
    font-size: 50px;
    color: white;
    font-family: 'EB Garamond';
    margin-top: -50px;
    text-align: center;
    justify-content: center;
}

#book{
    width: 500px;
    height: 40px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    background-color:white;
    border-radius: 15px;
    margin-top: -60px; 
    justify-content: center;
    margin-left: 550px;
}

#destinations{
    width: 500px;
    height: 40px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    background-color:white;
    border-radius: 15px;
    margin-top: -60px; 
    justify-content: center;
    margin-left: 550px;
}